h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: red;
    float: left;
    margin-left: 1.5em;
}

.flex {
    display: flex;
    justify-content: space-between;
}
